#rss_loader {
    --background: #62abff;
    --front-color: #0578bf;
    --back-color: #c3c8de;
    --text-color: #414856;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
  }
  
  #rss_loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #rss_loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
  }
  
  #rss_loader svg circle.back {
    stroke: var(--back-color);
  }
  
  #rss_loader svg circle.front {
    stroke: var(--front-color);
  }
  
  #rss_loader svg.circle-outer {
    height: 25px;
    width: 25px;
  }
  
  #rss_loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
  }
  
  #rss_loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
  }
  
  #rss_loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
  }
  
  #rss_loader svg.circle-middle {
    height: 15px;
    width: 15px;
  }
  
  #rss_loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
  }
  
  #rss_loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
  }
  
  #rss_loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
  }
  
  #rss_loader svg.circle-inner {
    height: 5px;
    width: 5px;
  }
  
  #rss_loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
  }
  
  #rss_loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
  }
  
  #rss_loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
  }
  
  @keyframes circle-outer135 {
    0% {
      stroke-dashoffset: 25;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 301;
    }
  
    80% {
      stroke-dashoffset: 276;
    }
  
    100% {
      stroke-dashoffset: 276;
    }
  }
  
  @keyframes circle-middle6123 {
    0% {
      stroke-dashoffset: 17;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 204;
    }
  
    80% {
      stroke-dashoffset: 187;
    }
  
    100% {
      stroke-dashoffset: 187;
    }
  }
  
  @keyframes circle-inner162 {
    0% {
      stroke-dashoffset: 9;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 106;
    }
  
    80% {
      stroke-dashoffset: 97;
    }
  
    100% {
      stroke-dashoffset: 97;
    }
  }
  
  @keyframes text-animation76 {
    0% {
      clip-path: inset(0 100% 0 0);
    }
  
    50% {
      clip-path: inset(0);
    }
  
    100% {
      clip-path: inset(0 0 0 100%);
    }
  }

.switch {
  margin-bottom: 0;
}